/*
Theme Name: onrial
Theme URI: http://onrial.com/
Author: GeoDirectory
Author URI: http://onrial.com/
Version: 1.0.0
License: GPLv2 or greater
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: left-sidebar, right-sidebar, one-column, two-columns, theme-options, custom-header, custom-background, fluid-layout, responsive-layout, accessibility-ready, translation-ready, microformats, rtl-language-support

This theme is licensed under the GPL.
*/

body {
    font-family: ProximaNova,sans-serif;
    color: #000;
}

#container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.main-mnu a{
    color: #ffffff;
}

.woocommerce ul.products li.product a img{
    display: block;
    max-width: 100%;
    width:auto;
    max-height: 140px;
    margin: 43px auto 40px;
    height: inherit;
    height: 140px;
    object-fit: contain;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
    float: left;
    width: 33.3333333%;
    margin: 0;
    position: relative;
    height: 334px;
}
.woocommerce ul.products li.product a{
    display: block;
    border: 1px solid #d8dadb;
    padding: 11px 24px 24px 19px;
    background: #fff;
    color: #000;
    position: relative;    
    height: inherit;
}
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart.popular-item__btn:hover {
    color: #ffffff;
    background-color: #fa758c;
    border: 2px solid #e5e5e5;
    padding: 11px 24px 24px 19px;
    -webkit-box-shadow: 0 0 24px 0 rgba(0,0,0,.15);
    box-shadow: 0 0 24px 0 rgba(0,0,0,.15);
    z-index: 3;
}

.woocommerce div.product div.images img{
    width: auto;
}

#menu-headmenu a {
    color: #fff;
}

#add_payment_method table.cart input, .woocommerce-cart table.cart input, .woocommerce-checkout table.cart input {
    margin: 0;
    vertical-align: middle;
    line-height: 1;
    width: 49px;
    text-align: center;
    padding: 9px 0px;
}

.cart_total_woo{
    width: 100%;
}

.cart_total_woo th{
    float: left;
}

.cart_total_woo td{
    float: right;
}

ul.top-mnu.top-mnu--login a {
    color: #fff;
}

.ordering-new-form__password {
    display: inline-block;
}
.woocommerce ul.products li.product .button {
    position: absolute;
    right: 15px;
    bottom: 25px;
    margin-right: 0 !important;
    color: rgba(0, 0, 0, 0.54) !important;
    height: 20px;
    padding: 10px 0 25px;
    width: 300px;
    text-align: center;
}
.woocommerce ul.products li.product .button:hover{
    color: #ffffff !important;
    background-color: #fa758c;
    border: 2px solid #e5e5e5;
    padding: 11px 24px 24px 19px;
    -webkit-box-shadow: 0 0 24px 0 rgba(0,0,0,.15);
    box-shadow: 0 0 24px 0 rgba(0,0,0,.15);
}

a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart.popular-item__btn {
    z-index: 999;
    margin-right: 13px;
    color: rgba(0, 0, 0, 0.54);
}

.woocommerce .woocommerce-ordering select.orderby{
    outline: none;
    height: 36px;
    line-height: 36px;
    padding: 0 8px;
    width: 100%;
}

.woocommerce ul.products li.first, .woocommerce-page ul.products li.first {
    clear: none;
}

.woocommerce ul.products li.first, .woocommerce-page ul.products li.first {
    clear: none;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title{
    height: 46px;
    overflow: hidden;
}
.woocommerce-page ul.products li.product .woocommerce-Price-amount{
    font-size: 16px;
    line-height: 16px;
    color: #000;
    font-weight: bold;
}

.woocommerce table.shop_attributes th {
    text-align: left;
    border-bottom: 0;
    padding-left: 0;
    padding-bottom: 0;
}
.woocommerce table.shop_attributes td p{
    padding-bottom: 0;
}
.woocommerce table.shop_attributes td{
    text-align: right;
    border-bottom: 0;
}
.woocommerce table.shop_attributes{
    border: 0;
    /*width: auto;*/
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    width: auto;
}

.acf-map {
    width: 100%;
    height: 400px;
    border: #ccc solid 1px;
    margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
    max-width: inherit !important;
}

.clickBuyButton.button21 {
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    color: #8d9193;
    text-transform: uppercase;
    border: 2px solid #d8dadb;
    background: transparent;
    font-weight: 700;
    position: absolute;
    right: 15px;
    bottom: 0px;
    width: 200px;
    width: 35.666667%;
    display: block;
    padding: 0;
    height: 48px;
    line-height: 46px;
    margin: 0;
}

a.button21:hover:not(:active){
    border-color: #f86699;
    background-color: #f86699;
    color: #fff;
    box-shadow: none!important;
}

.review-list img {
    float: left;
    margin-right: 10px;
}

.woocommerce .woocommerce-breadcrumb {
    margin: 1em 0 1em;
}

.woocommerce ul.products li.product .star-rating {
    display: none;
}

span.sku {
    float: right;
}
table.variations tbody{
    display: flex;
}

.variations td.value select {
    position: relative;
    z-index: 2;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    height: 38px;
    border: 1px solid #d8dadb;
    padding-left: 19px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}
.variations td.value{
    position: relative;
}

.variations td.value:before{
    content: '\e804';
    font-family: icons;
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
}

.woocommerce div.product form.cart{
    clear: both;
    padding-top: 10px;
}

.woocommerce div.product form.cart .button {
    vertical-align: middle;
    float: left;
    width: 38%;
    height: 48px;
    line-height: 31px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #d8dadb;
    font-weight: 700;
    background-color: #f86699;
    border-color: #f86699;
    color: #fff;
}

.woocommerce .quantity .qty {
    width: 100%;
    height: 48px;
    background-color: #fbfbfb;
    border: 1px solid #d8dadb;
    text-align: center;
    padding: 0 20px;
    color: #000;
}

.product-price span {
    font-size: 18px;
}
td.product-name{
    width: 30%;
}

form.register input {
    height: 34px;
    padding: 0 20px;
    text-align: left;
    font-size: 12px;
    font-weight: 300;
}

.product-advantages{
    padding-bottom: 1px;
}

.woocommerce div.product form.cart.variations_form{
    position: relative;
    clear: both;
}

.woocommerce div.product .col-md-6 + .col-md-6,
.woocommerce div.product .col-md-6 + .col-md-6 > .col-sm-5{
    padding-right: 0px;   
}

.woocommerce div.product .col-sm-7{
    padding-left: 0px;
    position: relative;    
}

.woocommerce div.product form.cart .variations select{
    outline: none;
}

.variations tr:nth-child(odd) td{
    background-color: #fff;
}

.woocommerce .star-rating:before{
    color: #cdcecf;
}

.woocommerce .star-rating span:before{
    color: #f86699;
}

.sku_wrapper{
    font-weight: bold;
}

.woocommerce table.shop_attributes tr:nth-child(even) td, .woocommerce table.shop_attributes tr:nth-child(even) th{
    background-color: #fff;
}

.woocommerce div.product form.cart .variations tr{
    width: 164px;
}

.woocommerce div.product form.cart .variations td, .woocommerce div.product form.cart .variations th{
    width: 152px;
    padding-right: 5px;
}

.woocommerce div.product .product_title{
    line-height: 1;
}

.woocommerce div.product form.cart.variations_form .woocommerce-Price-amount{
    color: #000;
    font-size: 42px;
}
.woocommerce div.product form.cart.variations_form .woocommerce-Price-currencySymbol{
    font-size: 24px;
}

span.sku{
    font-weight: normal;
}

.woocommerce div.product .woocommerce-tabs ul.tabs{
    padding: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before{
    border-bottom: 1px solid #e5e5e5;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li{
    border: none;
    background: #fff;
    text-transform: uppercase;
    color: #969a9c;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before{
    display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after{
    display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active{
    border-bottom: 3px solid #f86699;
    color: #000;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before{
    display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a{
    padding-bottom: 20px;
}

.woocommerce .quantity .qty{
    background-color: #fff;
}

.woocommerce div.product .col-md-7 .woocommerce-tabs.wc-tabs-wrapper,
.woocommerce div.product .col-lg-4.col-lg-offset-1.col-md-5 .reviews{
    padding-left: 15px;
}

.woocommerce form .form-row input.input-text{
    height: 34px;
}

.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text{
    border: 1px solid #e2e2e2;
}

.woocommerce form .form-row .input-text:focus, .woocommerce-page form .form-row .input-text:focus{
    border: 1px solid #f86699;
}

.required{
    color: #f86699;
}

form.register input.woocommerce-Button{
    float: right;
    width: 214px;
    margin-right: 15px;
    height: 48px;
    line-height: 1;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #d8dadb;
    font-weight: 700;
    background-color: #f86699;
    border-color: #f86699;
    color: #fff;
    margin-top: 20px;
}

.cart-btn:hover,
.cart-btn:focus{
    text-decoration: none;
    color: #fff;
}

#add_payment_method table.cart .product-thumbnail, .woocommerce-cart table.cart .product-thumbnail, .woocommerce-checkout table.cart .product-thumbnail{
    height: 120px;
}

#add_payment_method table.cart .product-name, .woocommerce-cart table.cart .product-name, .woocommerce-checkout table.cart .product-name{
    height: 120px;
}

#add_payment_method table.cart .product-name a, .woocommerce-cart table.cart .product-name a, .woocommerce-checkout table.cart .product-name a{
    color: #000;
}

#add_payment_method table.cart .product-remove a, .woocommerce-cart table.cart .product-remove a, .woocommerce-checkout table.cart .product-remove a{
    color: #000;
    font-size: 20px;
    font-weight: 100;
}

#add_payment_method table.cart .product-remove a:hover, .woocommerce-cart table.cart .product-remove a:hover, .woocommerce-checkout table.cart .product-remove a:hover{
    text-decoration: none;
}

#add_payment_method table.cart .product-remove a:focus, .woocommerce-cart table.cart .product-remove a:focus, .woocommerce-checkout table.cart .product-remove a:focus{
    text-decoration: none;
}

#add_payment_method table.cart .product-name .variation, .woocommerce-cart table.cart .product-name .variation, .woocommerce-checkout table.cart .product-name .variation{
    display: none;
}

#add_payment_method table.cart .product-thumbnail a{
    display: block;
    height: inherit;
    text-align: center;
}

#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.widget_berocket_aapf {
    display: block;
}

h3.widget-title.berocket_aapf_widget-title {
    text-align: center;
    font-weight: 700;
    color: #000;
}

@media (min-width: 768px) {
    #container {
        width: 750px
    }
}

@media (min-width: 992px) {
    #container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    #container {
        width: 1170px
    }
}

@media (max-width: 1200px) {
    form.register input.woocommerce-Button{
        width: 172px;
        height: 36px;
        line-height: 32px;
    }
    .top-mnu--login li{
        padding: 0 4px;
    }
}


@media (max-width: 992px) {
    .woocommerce ul.products li.product .price{
        text-align: center;
    }
    .woocommerce ul.products li.product a.woocommerce-LoopProduct-link.woocommerce-loop-product__link{
        padding-bottom: 50px;
    }
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
        height: 370px;
    }
    .woocommerce ul.products li.product .button{
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    .slick-slide img{
        margin: 0 auto;
    }
    .clickBuyButton.button21{
        right: 0;
    }
}

@media (max-width: 767px) {
    #container{
        overflow-x: hidden;
    }
    .woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs{
        padding-right: 15px;
    }
    .woocommerce div.product .col-md-7 .woocommerce-tabs.wc-tabs-wrapper, .woocommerce div.product .col-lg-4.col-lg-offset-1.col-md-5 .reviews{
        padding-right: 15px;
    }
    .clickBuyButton.button21{
        right: 15px;
    }
    #add_payment_method table.cart .product-name, .woocommerce-cart table.cart .product-name, .woocommerce-checkout table.cart .product-name{
        height: auto;
        width: 100%;
        padding-top: 30px;
    }
    .woocommerce table.shop_table_responsive tr, .woocommerce-page table.shop_table_responsive tr{
        margin-bottom: 15px;
        position: relative;
    }
    .woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td{
        margin-top: 0;
    }
    #add_payment_method table.cart .product-remove a, .woocommerce-cart table.cart .product-remove a, .woocommerce-checkout table.cart .product-remove a{
        position: absolute;
        right: 10px;
        top: 0;
    }

}

@media (max-width: 600px) {
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
        width: 50%;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs{
        font-size: 11px;
    }
}

@media (max-width: 480px) {
    .woocommerce div.product form.cart.variations_form{
        padding-bottom: 55px;
    }
    .clickBuyButton.button21{
        right: auto;
        left: 0;
        width: 290px;
    }
    .woocommerce div.product form.cart .button{
        width: 193px;
    }
}

@media (max-width: 360px) {
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
        width: 100%;
    }
    .header-popup{
        font-size: 9px !important;
    }
    .header-phones{
        font-size: 11px !important;
    }
}

.berocket_aapf_widget{
    padding: 0;
    margin: 0;
}

.berocket_aapf_widget input[type="checkbox"] + label::before{
    display: none;
}

.berocket_aapf_widget li{
    margin-bottom: 12px;
}

h3.widget-title.berocket_aapf_widget-title{
    text-align: left;
    font-weight: 700;
    color: #000;
    margin-bottom: 18px;
    font-size: 14px;
}

h3.widget-title.berocket_aapf_widget-title:after{
    content: ':';
}

.woocommerce-result-count{
    display: none;
}

.woocommerce-ordering select{
    position: relative;
    z-index: 2;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    height: 38px;
    border: 1px solid #d8dadb;
    padding-left: 19px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    padding-right: 30px !important;
}

.woocommerce-ordering:before{
    content: '\e804';
    font-family: icons;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 14px;
    font-size: 20px;
}

.woocommerce-ordering{
    position: relative;
    margin-bottom: 17px;
}

.woocommerce-loop-product__link:hover {
    color: #000;
    border: 2px solid #e5e5e5;
    padding: 18px 23px 23px;
    -webkit-box-shadow: 0 0 24px 0 rgba(0,0,0,.15);
    box-shadow: 0 0 24px 0 rgba(0,0,0,.15);
    z-index: 3;
}

.woocommerce ul.products li.product .button {
    z-index: 3;
    text-transform: uppercase;
    border: 2px solid #d8dadb;
    border-radius: 0;
    font-size: 12px;
    float: right;
    height: 33px;
    line-height: 29px;
    max-width: 103px;
    padding: 0 8px;
}

.woocommerce ul.products li.product .button:hover{
    padding: 0 8px;
}

#container{
    padding-bottom: 100px;
}

.quantity {
    width: 19%;
}

.product_title {
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}
.woocommerce-review-link{
    display: none;
}
.product_meta{
    padding-top: 13px;
}
.woocommerce #content table.cart img, .woocommerce table.cart img, .woocommerce-page #content table.cart img, .woocommerce-page table.cart img {
    max-height: 80px;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: transparent;
    border-radius: 0;
}
#order_comments{
	padding: 5px 15px;
}
.woocommerce-checkout .woocommerce form.login{
	border: none;
	margin: 0;
}
#container{
	min-height: calc(100vh - 408px);
}
.ordering-new-form__password{
	width: 100%;
}
#billing_country_field {
	display: none;
}
.woocommerce div.product p.stock {
	display: none;
}
.woocommerce-message{
	display: none;
}

.woocommerce-checkout .quantity {
    width: 100%;
}
.about-why-list li::before {
	left: -30px;
	top: -5px;
}
.account__info form .item__row input[name="woocommerce_checkout_update_totals"]{
	display: none;
}
.account__info .select2-selection{
	height: 37px;
	padding: 4px 0;
	border-radius: 0;
}
.account__info .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 30px;
}
.account__order-info .ordering-scroll {
    max-height: 300px;
	height: auto;
}
.wc-item-meta{
	list-style: none;
}
.wc-item-meta li{
	display: block;
}
.wc-item-meta li p{
	display: inline-block;
}
.about-info{
	text-align: right;
	padding: 20px 15px 80px;
}
.about-info h1{
    font-size: 36px;
    text-transform: uppercase;
}
.about-info p{
    font-size: 18px;
}
.header.header-about{
    background-image: url(img/about-bg.png);
}
.woocommerce div.product form.cart .variations{
	top: -59px;
	position: relative;
	margin-bottom: -69px;
}
.woocommerce table.shop_attributes{
	margin-bottom: 49px;
}
body div.festi-cart-pop-up-products-content table.festi-cart-list tr.festi-cart-item td.festi-cart-product-img a.festi-cart-img img, body div.festi-cart-pop-up-products-content table.festi-cart-list tr.festi-cart-item td.festi-cart-product-img span.festi-cart-img img{
	max-height: 80px;
	object-fit: contain;
}
body div.festi-cart-pop-up-products-content p.festi-cart-buttons a.festi-cart-checkout{
	vertical-align: middle;
	float: left;
	line-height: 31px;
	font-size: 12px !important;
	text-align: center;
	font-weight: 700;
	background-color: #f86699 !important;
	border-color: #f86699 !important;
	color: #fff !important;
	padding: 5px 25px !important;
}
div.festi-cart-pop-up-footer span.festi-cart-continue.b-close span.festi-cart-continue-shopping{
	font-weight: 700;
	font-size: 12px !important;
	text-align: center;
	color: #8d9193 !important;
	border: 2px solid #d8dadb !important;
	background: transparent;
	bottom: 0px;
	padding: 10px 25px !important;
	margin: 5px 10px !important;
}
.festi-cart-remove-product{
	display: none;
}
#formOrderOneClick .popup .close_order{
	background: transparent !important;
	border: none !important;
	font-size: 25px !important;
	top: -40px !important;
	right: -30px !important;
}
#formOrderOneClick .popup{
	border-radius: 0 !important;
	text-align: center !important;
	transform: translate(0, -50%) !important;
}
#formOrderOneClick .button{
	display: inline-block !important;
	float: none;
	background: #f86699 !important;
	border: none !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	width: 170px !important;
}
#contactform .one-left{
	position: absolute;
	height: calc(100% + 36px);
	width: 100%;
	left: -100%;
	top: -18px;
	background-color: #fff;
}
#contactform .one-left img{
	max-height: 310px;
	object-fit: contain;
}
#formOrderOneClick input[type="email"], #contactform input[type="tel"], #contactform input[type="text"]{
	box-shadow: none;
	padding: 10px 15px;
	height: 36px;
	border-radius: 0;
}
#yith-ajaxsearchform{
	color: #000;
}
#yith-s{
	background: transparent;
	border: 1px solid transparent;
	padding-left: 7px;
	padding-right: 22px;
	color: #fff;
}
#yith-s:focus {
    border-color: rgba(255,255,255,.25);
}
#yith-searchsubmit{
	background: center url(/wp-content/themes/onrial/img/ico-search.png) no-repeat;
	border: none;	
}
.autocomplete-suggestions{
	color: #000;
}
.mfp-content{
	text-align: center;
}

.password-section{
    display: none;
}